<tr>
  <td><%= "#{firm.name} (#{firm.legal})" %></td>
  <td><%= link_to firm.user.name, firm.user %></td>
  <td></td>
  <td><%= link_to(firm.asesor.name, firm.asesor) if firm.asesor %></td>
  <td>
    <%= link_to detalles_icon, user_firm_path(user_id: firm.user, id: firm) %>
    <%= link_to editar_icon, edit_user_firm_path(user_id: firm.user, id: firm) %>
    <%= link_to borrar_icon, user_firm_path(user_id: firm.user, id: firm), method: :delete, data: { confirm: "sure?" } %>
  </td>
  
</tr>