<%= form_for([@user, @firm], :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :legal, "Razón Social", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :legal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :legal, "Facturación", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :sales, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :employees, "Empleados", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :employees, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :industry, "Sector", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :industry, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :asesor, "Asesor", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <% if current_user.admin? %>
        <%= f.select :asesor_id, User.admins.collect { |a| [ a.name, a.id ] }, {include_blank: true}, { class: "form-control"} %>
      <% else %>
        <%= f.text_field :asesor, class: "form-control", disabled: true %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if @firm.new_record? %>
        <%= f.submit "Crear Empresa", class: "btn btn-primary" %>
      <% else %>
         <%= f.submit "Actualizar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<% end %>