<% provide(:title, "Empresas") %>
<div class="container">

  <legend>Empresas (<%= @firms.count %>)</legend>
  <%= will_paginate :previous_label => 'Anterior', :next_label => 'Siguiente' %>
  <table class="table table-condensed">
    <tr>
      <td>Nombre</td>
      <td>Usuario</td>
      <td>Departamento</td>
      <td>Asesor</td>
      <td>Acciones</td>
    </tr>
    <%= render @firms %>
  </table>
</div>