    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>PACPYMES</h1>
            <p>Programa de Apoyo a la Competitividad de las Pequeñas y Medianas Empresas</p>
             <p><%= link_to "Registrarse >>", signup_path, class: "btn btn-primary btn-lg" %></p>
          </div>
          <div class="col-md-4"><%= image_tag "pacpymes.jpg", id: "logo" %></div>
        
        </div>
        
       
        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>¿Qué es?</h2>
          <p>Es un programa de cooperación internacional que apoya a las PYMES uruguayas con fondos para que contraten asistencia técnica. </p>
          <p><%= link_to "Leer Más >>", about_path, class: "btn btn-default" %></p>
        </div>
        <div class="col-md-6">
          <h2>¿Cómo funciona?</h2>
          <p>Para participar del programa, debe crear un usuario <%= link_to "aquí", signup_path %> y registrar su empresa. Luego, le asignaremos un asesor que realizará un diagnóstico del funcionamiento de su empresa para determinar cuáles son las áreas en las que debe recibie apoyo de un consultor.</p>
          <p><%= link_to "Leer Más >>", how_path, class: "btn btn-default" %></p>
       </div>
      </div>
    </div>