<%= form_for @user, :html => {:class => 'form-horizontal'}  do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :email, "Correo" , class: "col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <% if current_user && current_user.admin? %>
    <div class="form-group">
      <%= f.label :admin, "Admin" , class: "col-sm-2 control-label"%>
      <div class="col-sm-4">
        <%= f.check_box :admin, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :password, "Contraseña", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmar Contraseña", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if @user.new_record? %>
        <%= f.submit "Registrarse", class: "btn btn-primary" %>
      <% else %>
         <%= f.submit "Actualizar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>