<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= admin_icon(user) %></td>
  <td>
    <%= link_to detalles_icon, user %>
    <%= link_to editar_icon,   edit_user_path(user) %>
    <%= link_to borrar_icon,   user, method: :delete, data: { confirm: "¿Seguro?" } %> 
  </td>
</tr>