
<% provide(:title, "Usuarios") %>
<div class="container">
  <div class="col-md-9" id="tabla">
    <legend>Usuarios (<%= User.count %>)</legend>
    <%= will_paginate :previous_label => 'Anterior', :next_label => 'Siguiente' %>
    <table class="table table-condensed">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Admin?</th>
        <th>Acciones</th>
      </tr>
        <%= render @users %>
    </table>
  </div>
</div>