<% provide(:title, @user.name) %>
<div class="row"> 
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> <%= content_tag(:small, "(Admin)") if @user.admin? %>
      </h1>
      <p><%= @user.email %></p>
      <% unless @user.admin? %>
        <p><%= link_to "Registrar Empresa",  new_user_firm_path(@user), class: "btn btn-primary" %></p>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="firms">
      <table class="table table-condensed">
    <tr>
      <td>Nombre</td>
      <td>Usuario</td>
      <td>Departamento</td>
      <td>Asesor</td>
      <td>Acciones</td>
    </tr>
    <% if @user.admin? %>
      <%= render @user.asesoradas %>
    <% else %>
      <%= render @user.firms %>
    <% end %>
  </table>
    </section>
  </div>
</div>