<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      El formulario tiene <%= pluralize(object.errors.count, 'error') %>
    </div>
      <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>