@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
section {
  overflow: auto;
}

.center {
text-align: center;
}

.center h1 {
margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

/* header */


/* footer */

footer {
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 45px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
  color: #555;
  
    &:hover {
    color: #222;
    }
  }
  
}

footer {
  
 margin-top: 0;

 small {
  float: left;
  }

  ul {
  float: right;
  list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#logo {
  float: right;
}


/* sidebar */


aside {
  section.user_info {
    border: 1px dashed black;
    margin-top: 20px;
   
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* user index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

legend {
  margin-bottom: 20px;
}

.pagination {
  margin-top: 10px;
}