<footer>
  <small> PACPYMES - Programa de Apoyo a la Competitividad de las Pequeñas y Medianas Empresas</small>
  <nav>
    <ul>
      <li><%= link_to "Inicio",          root_path    %></li>
      <li><%= link_to "¿Qué es?",        about_path   %></li>
      <li><%= link_to "¿Cómo funciona?", how_path     %></li>
      <li><%= link_to "Contacto",        contact_path %></li>
    </ul>
  </nav>
</footer>