<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "PACPYMES", root_path, class: "navbar-brand" %>
        
      </div>
      <%  if logged_in? %>
      
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.admin? %>
              <li><%= link_to "Usuarios", users_path %></li>
            <% end %>
            <li><%= link_to "Empresas", user_firms_path(user_id: current_user) %></li>
            <li><a href="#">Proyectos</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi Cuenta <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configuración", edit_user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to  "Cerrar Sesión", logout_path, method: :delete %></a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        
      <% else %>
      
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <%= form_for(:session, url: login_path, :html => { :class => 'navbar-form navbar-right'}) do |f| %>
           <div class="form-group">
             <%= f.email_field :email, placeholder: "Correo", class: "form-control" %>
           </div>
           <div class="form-group">
             <%= f.password_field :password, placeholder: "Contraseña", class: "form-control" %>
           </div>
            <button type="submit" class="btn btn-default">Iniciar Sesión</button>
         <% end %>
        </div>
        
      <% end %>
    </div><!-- /.container-fluid -->
  </nav>
</header>
